<include file="Com:inc" />
<!-- content start -->
<div class="admin-content">
	<div class="admin-content-body">
		<div class="am-cf am-padding am-padding-bottom-0">
			<div class="am-fl am-cf">
				<strong class="am-text-primary am-text-lg">编辑用户</strong> / <small>edit user</small>
			</div>
		</div>

		<hr>

		<div class="am-tabs am-margin" data-am-tabs>
			<ul class="am-tabs-nav am-nav am-nav-tabs">
				<li class="am-active"><a href="#tab1">编辑用户</a></li>
			</ul>

			<div class="am-tabs-bd">
				<div class="am-tab-panel am-fade am-in am-active" id="tab1">
					<form class="am-form"
						action="/flow_manger/Home/User/edit/id/{$Think.get.id}"
						method="post">
						<div class="am-g am-margin-top-sm">
							<div class="am-u-sm-4 am-u-md-2 am-text-right">用户名</div>
							<div class="am-u-sm-8 am-u-md-4 am-u-end">
								<input type="text" class="am-input-sm" name="username"
									value='{$info[username]}'>
							</div>
						</div>

						<div class="am-g am-margin-top-sm">
							<div class="am-u-sm-4 am-u-md-2 am-text-right">用户密码</div>
							<div class="am-u-sm-8 am-u-md-4 am-u-end">
								<input type="text" class="am-input-sm" name="password"
									value='{$info[password]}'>
							</div>
						</div>
						<div class="am-g am-margin-top-sm">
							<div class="am-u-sm-4 am-u-md-2 am-text-right">用户昵称</div>
							<div class="am-u-sm-8 am-u-md-4 am-u-end">
								<input type="text" class="am-input-sm" name="nickname"
									value='{$info[nickname]}'>
							</div>
						</div>
						<div class="am-g am-margin-top-sm">
							<div class="am-u-sm-4 am-u-md-2 am-text-right">用户推荐人</div>
							<div class="am-u-sm-8 am-u-md-4 am-u-end">
								<input type="text" class="am-input-sm" name="referee_id"
									value='{$info[referee_id]}'>
							</div>
						</div>
						 
						<!-- 
						<div class="am-g am-margin-top-sm">
							<div class="am-u-sm-4 am-u-md-2 am-text-right">司机地区</div>
							<div class="am-u-sm-8 am-u-md-10">
								<select data-am-selected="{maxHeight: 150 }" name="area_id"
									id="area_id" value='{$info[area_id]}'>
									<volist name="links" id="vo"> <br />
									<option value="{$vo[id]}">{$vo[area]}</option>
									</volist>

								</select>
								<script type="text/javascript">
									$(document)
											.ready(
													function() {
														$("#area_id")
																.find(
																		"option[value='{$info[area_id]}']")
																.attr(
																		"selected",
																		true);
													});
								</script>
							</div>
						</div>
						
						
						<div class="am-g am-margin-top-sm">
							<div class="am-u-sm-4 am-u-md-2 am-text-right">下载日期</div>
							<div class="am-u-sm-8 am-u-md-4 am-u-end">
								<input type="text" class="am-input-sm" name="download_time"
									value='{$info[download_time]}'>
							</div>
						</div> -->
						<br>
						<br>
						<br>
						<br>
						<div class="am-margin">
							<div class="am-u-sm-8 am-u-md-4 am-u-end">
								<button type="submit" class="am-btn am-btn-primary am-btn-xs">
									提交编辑</button>
							</div>
						</div>
					</form>


				</div>


			</div>
		</div>


	</div>

	<footer class="admin-content-footer">
		<hr>
		<p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under
			MIT license.</p>
	</footer>
</div>
<!-- content end -->

<include file="Com:footer" />
